%h1 Listing trains

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @trains.each do |train|
      %tr
        %td= train.train_number
        %td= train.carriage_type
        %td= train.route
        %td= link_to 'Show', train
        %td= link_to 'Edit', edit_train_path(train)
        %td= link_to 'Destroy', train, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Train', new_train_path
